<%- contentFor('body') %>
# マイクロポスト一覧
<div 
  id="microposts-container"
  class="microposts-container"
  data-categories="<%- encodeURIComponent(JSON.stringify(categories || [])) %>"
  data-microposts="<%- encodeURIComponent(JSON.stringify(microposts || [])) %>"
></div>

<%- contentFor('scripts') %>
<script src="/js/microposts/index.js"></script> 