<nav class="sidebar">
    <h2>メニュー</h2>
    <ul class="nav">
        <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">ホーム</a></li>
        <li><a href="/system-status" class="<%= path === '/system-status' ? 'active' : '' %>">システム状態</a></li>
        <li><a href="/microposts" class="<%= path === '/microposts' ? 'active' : '' %>">投稿一覧</a></li>
    </ul>
</nav> 